@{
    ViewData["Title"] = "Peyzi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*  <head>
    <link rel="stylesheet" type="text/css" href="~/css/stylehomepage.css" />
</head> *@


<div class="px-4 py-5 my-5 text-center colorText">
    <h1 class="display-5 fw-bold">Welcome to PeyZi</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">We're thrilled that you're here and excited to help you achieve your learning goals. Whether you're looking to improve your skills, gain new knowledge, or explore a new subject, we're confident that you'll find something here that interests you.</p>
        
    </div>
</div>
